@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');


:root {
    --main-color: #5ea3d0;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: 	#3e5869; 
    font-family: 'Ubuntu', sans-serif;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
}


/* REST OF CSS */
.rooms-list {
    /* box-sizing: border-box; */
    padding: 10px;
    background-color: var(--main-color);
    height: 90vh;
}

.rooms-list > ul {
    list-style-type: none;    
    padding: 0;
    overflow-y: auto;
}

.rooms-list ul h3 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 25px;    
    border-bottom: 2px solid #fff;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
}

.rooms-list li {
    margin: 0;
    border-left: 2px solid #fff;
    padding: 15px;
}

.rooms-list > h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}


.rooms-list .room a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
}

.rooms-list .room.active a {
    color: orange;
}

.new-room-form {
    padding: 0 5px;
    background: var(--secondary-color);
    color: var(--main-text-color);
}

.new-room-form form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-room-form input {
    width: 135px;
    background: var(--secondary-color);
}

.new-room-form button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
} 

.new-room-form input::placeholder {
    color: var(--main-text-color);
    font-weight: 200;
}

.new-room-form input:focus {
    outline-width: 0;
}

.new-room-form input {
    border: 0;
}

.new-room-form button {
    border: 0;
}

.message {
    margin: 20px 0 30px;
}

.message .message-username {
    font-size: 12px;
    color: skyblue;
    margin-bottom: 12px;
}
.message .message-text {
    background-color: transparent;
    color: #000;
    display: inline;
    padding: 4px 15px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid skyblue;
}

.message-list {
    /* box-sizing: border-box; */
    padding-left: 6px;
    width: 100%;
    height: 90vh;
    overflow-y: auto;
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.send-message-form {
    display: flex;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    font-weight: 200;
    border-top: 1px solid #ccc;
}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
}

.help-text {
    position: absolute;
    top: 10px;
}
